{% extends "base.html" %}

{% block main %}
<div id="cent" position="relative" display="inline-block" background="blue">
  <fieldset>
    <legend>CONTACT FORM</legend>
    <form method= "POST" >
      <label for="Name"> Name </label>
      <input type= "text" name="Name" id="name"> <br/>

      <label for="Email"> Email </label>
      <input type="text" name="Email" id="email"> <br/>

      <label for="Subject"> Subject </label>
      <input type="text" name="Subject" id="subject"> <br/>

      <label for="message" id="meslab"> Message </label>
      <textarea name="message" rows="5" cols="60"></textarea> <br/>

      <input type="submit" value = "Submit" id="submit">
    </form>
  </fieldset>
</div>
{% endblock %}
